.v-btn{
    text-transform: none !important;
}

/*Card Border */
.card-border-top{
    border-top: 0.5rem solid $blue-border-color !important;
}

// Input
.creator-input > .v-input__control > .v-input__slot:before{
    border-color: transparent !important;
}